@{
  Layout = "_Layout";
}
@model PierresSavoryAndSweet.Models.Flavor;


<div class="main">
  <h2>Flavor Details</h2>
  <h3>@Html.DisplayNameFor(m => m.Name): @Html.DisplayFor(m => m.Name)</h3>

  @if(@Model.JoinEntities.Count == 0)
  {
    <p>This flavor does not include any treats</p>
  }
  else 
  {
    <h4>Treats this flavor is available in</h4>
    <ul>
      @foreach(var join in Model.JoinEntities)
      {
        <li>@Html.ActionLink($"{join.Treat.Name}", "Details", "Treats", new { id = join.Treat.TreatId})</li>
      }
    </ul>
  }
  <p>@Html.ActionLink("Edit Flavors", "Edit", new { id = Model.FlavorId })</p>
  <p>@Html.ActionLink("Delete Flavor", "Delete", new { id = Model.FlavorId })</p>
</div>